body,html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(139, 218, 241);
  }
  
  * {
    box-sizing: border-box;
  }
 
  /*-------------------------------*/
 
  .topnav img{
    height: 80px;
    margin-left: 40px;
  }
  
  .topnav{
    background-color:rgb(13, 85, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;    
    display: flex;
    align-items: center;
    box-shadow: 0 0 30px 0 black;
    z-index: 5;
    overflow: hidden;
  }
  .topnav *{
    display: inline;
  }

  .topnav li{
    margin: 20px;
  }

  .topnav li a{
    color: white;
    text-decoration: none;
  }

  .topnav li a:active{
    color: green;
  }

  .topnav li a:hover{
    color: black;
  }

/*-------------------------------------------------*/
@media (max-width:800px)
{
  .myTopnav{
    width: 100%;
    height: 40px;

  }
  .topnav a{
    display: none;
  }

  .dropdown button{
    width: 40px;
    height: 20px;
    right: 0%;
    left: 20%;
  }
}
/*-----------------------------------------*/
  
  .main-title{
    position: center;
    width: 100%;
    height: 50px;
    z-index: 100;
    size: 40px;
    /*margin-top: 30px;*/
    text-size-adjust: 50px;
    background-color: rgb(13, 85, 255);
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .main-title h1{
    font-size: 250%;
  }
  .bg-image {
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
/*------------------------------------------*/
  @media (max-width:800px){
    .img1{ 
      background-image: url("../ieee/images/cover_back_mob.jpg")
    
    }
    .ieee-content
  {
    font-size: 75%;
  }
  .fest-image{
    float: unset;
    width: 100%;
    height: 470px;
    top: 0%;}

    .sig {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 130px;
      grid-gap: 1em;
      
    }
    .staff-madam{
      float: none;
    }
    .others{
      padding:0%;
    }
    /*--------------*/
    
  /*----------------------*/
  }

  @media(min-width:800px)
  {
  .img1 { background-image: url("../ieee/images/cover_back.JPG");
          image-resolution: 72dpi; 
        }
  .ieee-content
  {
    font-size: 150%;
  }
  .fest-image{
    float: left;
    width: 50%;
    height: 470px;
    top: 0%;}
  

  .sig {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 230px;
    grid-gap: 1em;
    
  }
  .staff-madam{
    float: left;
    width: 30%;
    padding-top: 15%;

  }
  .others{
    padding: 3%;
  }

}
/*---------------------------------------------------------*/  

  .ieee-content{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 80%;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    -webkit-animation-name: ieeeback;
    -webkit-animation-duration: 3s;
    animation-name: ieeeback;
    animation-duration: 6s;
  }  

  @-webkit-keyframes ieeeback{
    from{opacity: 0;}
    to{opacity: inherit}
  }

  @keyframes ieeeback{
    from{opacity: 0}
    to{opacity: inherit;}
  }
  

   /*------------------------------------*/

  /*sigss*/

 /* #sig-box #fest-box{
    background-color: rgba(255, 255, 255, 0.85) !important;
    padding: 3em;
    top: 2%;
  }*/
  
  

  .sig-image{
    box-shadow: 3px 3px 3px 3px rgba(51, 51, 51, 0.247);
    padding-top: 30%;
    top: 1%;
    overflow: hidden;
    position: relative;
  }
  
  .s-descrip{
    background-color: rgb(0,0,0,0.8);
    color: #f1f1f1;
    position: absolute;
    width: 100%;
    top: -100%;
    height: 100%;
    padding: 20px;
    padding-top: 15%;
    font-size: 85%;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: monospace;
  }
  .img-art{ background-image: url("../ieee/images/sig/art.jpg")}
  .img-avishkar{ background-image: url("../ieee/images/sig/avishkar.jpg")}
  .img-cs{ background-image: url("../ieee/images/sig/cs.jpg")}
  .img-design{ background-image: url("../ieee/images/sig/design.jpg")}
  .img-robotics{ background-image: url("../ieee/images/sig/robotics.jpg")}
  .img-tisp{ background-image: url("../ieee/images/sig/tisp.jpg")}
  .img-varchas{ background-image: url("../ieee/images/sig/varchas.jpg")}
  .img-vidhyuth{ background-image: url("../ieee/images/sig/vidyuth.jpg")}
  .img-web{ background-image: url("../ieee/images/sig/web.jpg")}
  .img-wie{ background-image: url("../ieee/images/sig/wie.jpg")}

  .sig-image:hover .s-descrip{
    top: 0%;
  }

  .title{
    width: 100%;
    height: auto;
    top: -5%;
    text-align: center;
    background-color: rgb(252, 13, 104);
    color: white;
    position: relative;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(0%,-310%);
  }
  .title h1{
    font-size: 150%;
  }

  /*------------------------------------*/

  /* fests*/
  .fests{
    width: 100%;
    float: left;
    height: auto;
    /*margin-top: 40px;*/
  }
  .fest-image{
    position: relative;
    overflow: hidden;
    
  }
  .img2 { background-image: url("../ieee/images/impetus.jpg");}
  .img3 { background-image: url("../ieee/images/kagada18.jpg"); }

  .description{
    background-color: rgb(0,0,0,0.8);
    color: #f1f1f1;
    position: absolute;
    top: -5%;
    left: -100%;
    width: 100%;
    z-index: 1;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
  }

  .fest-image:hover .description{
    left: 0%;
  }

  /*------------awards-----------*/

 /*----------staff----------------*/

 
 .staff{
   width: 100%;
   /*float: left;*/
   height: fit-content;
 }
 

 .person {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
}

.person h1{
  font-size: 140%;
}

.portpolio {
  color: grey;
  font-size: 18px;
}

.others{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows:fit-content;
  grid-gap: 1em;
  grid-column-gap: 5px;
}



/*------------------------------contacts---------------------*/
.contact{
  width: 100%;
  
}
.icon {
  font-size: 1.5rem !important;
  margin: 1rem;
}
.icon:hover {
color: rgb(10, 231, 202);
transition-delay: 300ms;
transform: scale(1.1);
}
.icon-arrange {
display: flex;
justify-content: center;
}
#foot {
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(79, 138, 194, 1) 40%, rgba(98, 157, 209, 0.7) 55%, rgba(125, 185, 232, 0.36) 77%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(79, 138, 194, 1) 40%, rgba(98, 157, 209, 0.7) 55%, rgba(125, 185, 232, 0.36) 77%, rgba(125, 185, 232, 0) 100%);
  background: linear-gradient(to top, rgb(14, 40, 70) 0%, rgba(14, 49, 82, 0.418) 40%, rgba(28, 82, 129, 0.5) 55%, rgba(33, 92, 138, 0.36) 77%, rgba(125, 185, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0);
  padding-top: 50px;
  color: #fff;
  text-align: center;
  }
.alignEnd{
  display: flex;
  justify-content: space-around;
}
#foot p a:link{
  color: inherit!important;
}
#foot a{
  color: #fff;
  text-decoration: none;
  line-height: 1.5rem;
  position: relative;
}
#foot p a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(10, 231, 202);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
#foot p>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}

